
.container {
  background-color: white;
  max-height: 700px;
  border-radius: 16px;
  border: 1px solid rgb(0 0 0 / 60%);
  box-shadow: 0 10px 40px rgb(0 0 0 / 10%);
  width: 440px;
  padding: 25px;

  z-index: 2;
  position: relative;
}

.title {
  height: 54px;
  font-size: 14px;
  color: black;
  line-height: 54px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.close {
  position: absolute;
  right: 14px;
  top: 14px;
  opacity: 0.75;
  color: black;
  cursor: pointer;
  outline: 0;
  display: inline-flex;
  background-color: transparent;
  border: none;

  &:hover {
    opacity: 1;
  }
}